.imageBoard{
    height: 80%;
    overflow-x: scroll;
    overflow-y:unset;
    scrollbar-width: none;
}
.messages{
    text-align: center;
    font-size: 150%;
    font-family: 'Zen Tokyo Zoo', cursive;
    font-weight: 100;
    color: #c45bf8;
}